.THIS {
 
    font-family: 'Salesforce Sans',Arial,sans-serif;
    font-size: 100%;
    line-height: 1.5;
    background: rgb(243, 242, 242);
    color: rgb(8, 7, 7);
    -webkit-tap-highlight-color: transparent;
}